version: '3.9'

services:
  server:
    container_name: milimili-server
    build:
      context: .
      dockerfile: Dockerfile.server
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - mongo
      - redis

  web:
    container_name: milimili-web
    build:
      context: .
      dockerfile: Dockerfile.web
    env_file:
      - .env.production
    ports:
      - "3001:3001"
    restart: always
    depends_on:
      - server

  mongo:
    image: mongo:6.0
    platform: linux/amd64
    container_name: milimili-mongo
    volumes:
      - mongo_data:/data/db
    restart: always
    environment:
      MONGO_INITDB_DATABASE: milimili

  redis:
    image: redis:7-alpine
    platform: linux/amd64
    container_name: milimili-redis
    volumes:
      - redis_data:/data
    restart: always

  nginx:
    image: nginx:alpine
    container_name: milimili-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - server
      - web
    restart: always

volumes:
  mongo_data:
  redis_data:
