version: '3.9'

services:
  server:
    container_name: milimili-server
    build:
      context: .
      dockerfile: Dockerfile.server
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:6.0
    platform: linux/amd64  # 新增：指定平台为 amd64
    container_name: milimili-mongo
    volumes:
      - mongo_data:/data/db
    restart: always
    environment:
      MONGO_INITDB_DATABASE: milimili

  redis:
    image: redis:7-alpine
    platform: linux/amd64  # 新增：指定平台为 amd64
    container_name: milimili-redis
    volumes:
      - redis_data:/data
    restart: always

  nginx:
    image: nginx:alpine
    container_name: milimili-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - server
    restart: always

volumes:
  mongo_data:
  redis_data:
