.dplayer-menu {
  background: rgba(33, 33, 33, .9) !important;
  border-radius: 4px !important;
  color: #fff !important;
  min-width: 80px !important;
  overflow: hidden !important;
  transition: opacity .1s cubic-bezier(0, 0, .2, 1) !important;
  user-select: none !important;
  z-index: 80 !important;
  width: auto !important;
}


.dplayer-menu > .dplayer-menu-item > * {
  color: #eee !important;
  cursor: pointer !important;
  font-size: 12px !important;
  height: 30px !important;
  line-height: 30px !important;
  padding: 4px 20px !important;
  text-align: left !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  align-self: center !important;
  display: flex !important;
  justify-content: start;
  align-items: center;
  box-sizing: content-box !important;
}

.dplayer-menu > :not(:first-child) {
  border-top: 1px solid hsla(0, 0%, 100%, .1) !important;
}

.dplayer-menu > .dplayer-menu-item {
  padding: 0 !important;
  margin: 0 !important;
  height: auto !important;
  width: auto !important;
}